/* COLORS
   Dark Gray: #333333
   Green: #18ED6E
   Blue: #306FB5
   Off White: #F7F6D4
   Light Gray: #F7F7F7
*/


.App {
  text-align: center;
}

/* ======== Navbar ========= */
nav {
  background-color: #000000;
}
.nav-wrapper {
  padding: 0 4vw;
}
.logo {
  max-height: 100%;
}

a.main-menu-button-collapse {
    position: absolute;
    right: 25px;
}


/* =========== HOME ========= */
  .home-hero {
    width: 100%;
  }


/* ======= Footer =========== */

footer p {
  color: #fff;
  background: #333;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 5vh;
}

/* ======== Listcards ======= */

.list-card-div {
  margin-bottom: 2%;
}

.list-card-expand-button {
  display: block;
  height: 35px;
  width: 45px;
  border: none;
  background: url('/img/down-arrow.svg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  margin: 0 auto;
  transition: transform 0.5s ease;
}

.list-card-expand-button:focus {
  background-color: transparent;
}

.list-card-details {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
