/* COLORS
   Dark Gray: #333333
   Green: #18ED6E
   Blue: #306FB5
   Off White: #F7F6D4
   Light Gray: #F7F7F7
*/


.App {
  text-align: center;
}

.flexCol-vCenter-hCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexRow-vCenter-hCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* ======== Navbar ========= */
nav {
  background-color: #000000;
}

label {
  color: black;
}

.nav-wrapper {
  padding: 0 4vw;
}
.logo {
  max-height: 100%;
}

.bold {
  font-weight: bold;
}

a.main-menu-button-collapse {
    position: absolute;
    right: 25px;
}


/* =========== HOME ========= */
  .home-hero {
    width: 100%;
  }



/*========= Discover ===========*/
.discover-nav-btn-cont {
    display: flex;
    justify-content: center;
}
.discover-sidnav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  background: #f1f1f1;
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
}


/* ======= Footer =========== */

footer p {
  color: #fff;
  background: #333;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 5vh;
}

/* ======== Listcards ======= */

.list-card-div {
  margin-bottom: 2%;
  padding-bottom: 1.5%;
  background-color: white;
  color: black;
  border-radius: 2px;
}

.list-card-header {
  background-color: #306FB5;
  color: white;
}

.list-card-main, .list-card-details {
  padding: 1%;
  font-size: 1.2em;
  margin-bottom: 0;
}

.list-card-main table, tr, td {
  padding: 0 2%;
}

.list-card-main li {
  list-style: none;
}

.list-card-driver-pic {
  display: inline-block;
}

.list-card-driver-pic img {
  height: 100px;
  width: auto;
}

.list-card-driver-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.list-card-add i {
  margin-top: 1%;
  transition: transform 0.5s ease;
  color: black !important;
}

.list-card-expand-button {
  display: block;
  height: 35px;
  width: 45px;
  border: none;
  background: url('/img/down-arrow-black.svg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.list-card-expand-button:focus {
  background-color: transparent;
}

.list-card-details {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}

.list-card-recurring-days {
  margin-left: 50px;
}

.list-card-recurring-days label {
  padding-left: 25px;
  margin-right: 2%;
}


/* ======= Switcher ======= */

.switcher {
  display: inline-block;
  height: 36px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 200px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

body .switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 28px !important;
  padding: 0 !important;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__label::before, .switcher__label::after {
  display: none;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px !important;
  line-height: 30px;
  cursor: pointer;
  background-color: #3366cc;
  border-radius: 30px;
  left: 2px;
  top: 2px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
}
.switcher__input--myDrives:checked ~ .switcher__toggle {
  left: 97px;
}
