.ryder-dryver-details-wrapper {
  color: #F7F7F7;
  background: #18ED6E;
  box-shadow: 0 0 .5vw rgba(0,0,0,.5), 0 0 .5vw rgba(0,0,0,.5) inset;
}

.profile-details-box {
  padding: 1vw;
  background: #306FB5;
  box-shadow: 0 .5vh 1vw rgba(0,0,0,.5);
}
